{% include "myapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div style="border: #afa6a6 2px solid;" class="rounded p-4 w-50 text-center">
            <h2>Se connecter </h2>
            <div>
                <form method="post" class="p-3">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}

                    <div class="">{{ form|crispy }}</div>
                    <button type="submit" class="btn btn-danger mt-3">se connecter</button>
                </form>
            </div>
            <div>
                <small>
                    You don't have an acoount?
                    <a href="{% url 'register' %}">Sign Up </a>
                </small>
            </div>
        </div>
    </div>
</body>
{% endblock %}