{% include "myapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<body>
  <section class="contact_section layout_padding-bottom ">
    <div class="container">
      <h2>
        Get In touch
      </h2>
      <div class="row">
        <div class="col-md-7">
          <div class="form_container">
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
              <button>
                Send
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="contact_box">
            <a href="">
              <div class="img-box rounded">
                <img src="{% static 'images/placeholder.png'%}" alt="">
              </div>
              <h6>
                Tunisie,Sfax
              </h6>
            </a>
            <a href="">
              <div class="img-box rounded">
                <img src="{% static 'images/phone.png'%}" alt="">
              </div>
              <h6>
                (+216) 27830454
              </h6>
            </a>
            <a href="">
              <div class="img-box rounded">
                <img src="{% static 'images/mail.png'%}" alt="">
              </div>
              <h6>
                artyprod@gmail.com
              </h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- footer section -->
  {% include 'myapp/footer.html' %}
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>

  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 35,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>